#Main {
  background-color: antiquewhite;
  display: flex;
}

#Main .content {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  height: 70vh;
}

#Main .button {
  align-self: center;
  padding: 1rem 2rem;
  border-radius: 6px;
  border: 0;
  background-color: burlywood;
}

#Main .button:hover {
  background-color: #fff;
}

#Main .sidebar {
  background-color: blue;
  width: 15vw;
}